<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid wrapper">
                <div class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">MusicApp</a></div>
                <ul class="nav-links ">
                    @* <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label> *@
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i>  Home</a></li>
                    <li><a asp-area="" asp-controller="Artists" asp-action="Index"><i class="fa-solid fa-microphone"></i>  Artists</a></li>
                    <li><a asp-area="" asp-controller="Songs" asp-action="Index"><i class="fa-solid fa-music"></i>  Songs</a></li>
                    <li><a asp-area="" asp-controller="Albums" asp-action="Index"><i class="fa-solid fa-record-vinyl"></i> Albums</a></li>
                    <li><a asp-area="" asp-controller="Genres" asp-action="Index"><i class="fa-solid fa-bars-staggered"></i> Genres</a></li>
                    <li><a asp-area="" asp-controller="Playlists" asp-action="Index"><i class="fa-solid fa-repeat"></i>  Playlists</a></li>
                    @* <li><a asp-area="" asp-controller="Home" asp-action="UserProfile"><i class="fa-solid fa-user"></i> User Profile</a></li> *@
                    <li><a asp-area="" asp-controller="Subscriptions" asp-action="Index"><i class="fa-solid fa-money-bills"></i> Upgrade</a></li>
                    @* <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-shield-halved"></i>  Privacy</a></li> *@
                    @* <li><a asp-area="" asp-controller="Home" asp-action="LogIn"><i class="fa-solid fa-right-to-bracket"></i>  Log In</a></li> *@
                    <li><partial name = "_LoginPartial"/></li>
                </ul>
                @* <div class="user"><a asp-area="" asp-controller="Home" asp-action="UserProfile"><i class="fa-solid fa-user"></i>Hello, Gabriela</a></div> *@
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2025 - MusicApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
